{% extends "base.html" %} {% block title %}Home{% endblock %} {% block main %}
<div class="container mt-4 mx-lg-auto col-md-6 col-11">
  <h1 class="text-center">Tasks</h1>
  <hr>
  <!-- add new task -->
   <div class="mb-3 d-flex justify-content-end pr-10">
    <a href="{{ url_for('create_task') }}" class="btn btn-primary mb-2">Add New Task</a>
   </div>
  {% if todos %}
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Task</th>
        <th scope="col" class="text-center">Status</th>
        <th scope="col" class="text-center">Change Status</th>
        <th scope="col" class="text-center">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todos %}
      <tr>
        <td>{{ todo.title }}</td>
        <td class="text-center">{{ '✅' if todo.done else '❌' }}</td>
        <td class="text-center">
          <form
            method="POST"
            action="{{ url_for('update_status', todo_id=todo.id) }}"
          >
            <input
              type="hidden"
              name="status"
              value="{{ '0' if todo.done else '1' }}"
            />
            <button
              type="submit"
              class="btn btn-sm {{ 'btn-success' if not todo.done else 'btn-warning' }}"
            >
              {{ 'Mark as Done' if not todo.done else 'Mark as Not Done' }}
            </button>
          </form>
        </td>
        <td class="text-center">
          <a
            href="{{ url_for('delete', todo_id=todo.id) }}"
            class="btn btn-danger btn-sm">
            Delete
            </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No tasks found.</p>
  {% endif %}
</div>
{% endblock %}
