{% extends "base.html" %}

{% block title %}Login/Signup{% endblock %}

{% block main %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Signup</h2>
    <form action="{{ url_for('signup') }}" method="post" class="mx-auto">
        <div class="row justify-content-center">
            <div class="col-10 col-md-6">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                    <label for="confirm_password" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                </div>
                <p>Already have an account?<a href="{{ url_for('login') }}" class="text-decoration-none btn text-primary"> Login <i class="bi bi-arrow-right"></i"></a>
                <button type="submit" class="btn btn-primary w-100 mt-2">SignUp</button></p>
            </div>
        </div>
    </form>
</div>
{% endblock %}